/* ============================= */
/* HERO START */
/* ============================= */

.hero-content{
  opacity:0;
  transform:translateY(30px);
  animation:heroFadeUp 0.8s ease forwards;
}

@keyframes heroFadeUp{
  to{
    opacity:1;
    transform:translateY(0);
  }
}


/* ============================= */
/* MARQUEE */
/* ============================= */

.marquee-track{

  display:flex;
  gap:1.5rem;

  width:max-content;

  animation:marqueeScroll 35s linear infinite;

  will-change:transform;
  transform:translate3d(0,0,0);
}

@keyframes marqueeScroll{

  0%{
    transform:translate3d(0,0,0);
  }

  100%{
    transform:translate3d(-50%,0,0);
  }

}


/* ============================= */
/* SCROLL INDICATOR */
/* ============================= */

.scroll-indicator{

  opacity:0;

  animation:
  scrollFade 1s ease 1.5s forwards,
  scrollFloat 2s ease-in-out 1.5s infinite;

}

@keyframes scrollFade{

  to{
    opacity:1;
  }

}

@keyframes scrollFloat{

  0%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(10px);
  }

  100%{
    transform:translateY(0);
  }

}


/* ============================= */
/* OPTIMIZACION GPU */
/* ============================= */

.marquee-track,
.hero-content,
.scroll-indicator{

  backface-visibility:hidden;
  transform:translateZ(0);

}


/* ============================= */
/* HERO END */
/* ============================= */


/* About start */

.about-tip{
opacity:0;
transform:translateY(10px);
animation:aboutTipFade 0.4s ease forwards;
}

.tip-0{
animation-delay:0.2s;
}

.tip-1{
animation-delay:0.4s;
}

.tip-2{
animation-delay:0.6s;
}

@keyframes aboutTipFade{
to{
opacity:1;
transform:translateY(0);
}
}

/* About end */