/* ============================= */
/* HERO START */
/* ============================= */

.hero-content{
  opacity:0;
  transform:translateY(30px);
  animation:heroFadeUp 0.8s ease forwards;
}

@keyframes heroFadeUp{
  to{
    opacity:1;
    transform:translateY(0);
  }
}


/* ============================= */
/* MARQUEE */
/* ============================= */

.marquee-track{

  display:flex;
  gap:1.5rem;

  width:max-content;

  animation:marqueeScroll 35s linear infinite;

  will-change:transform;
  transform:translate3d(0,0,0);
}

.marquee-track img{
  display:block;
}

.marquee-track div{
  backface-visibility:hidden;
}

@keyframes marqueeScroll{

  0%{
    transform:translate3d(0,0,0);
  }

  100%{
    transform:translate3d(-50%,0,0);
  }

}


/* ============================= */
/* SCROLL INDICATOR */
/* ============================= */

.scroll-indicator{

  opacity:0;

  animation:
  scrollFade 1s ease 1.5s forwards,
  scrollFloat 2s ease-in-out 1.5s infinite;

}

@keyframes scrollFade{

  to{
    opacity:1;
  }

}

@keyframes scrollFloat{

  0%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(10px);
  }

  100%{
    transform:translateY(0);
  }

}


/* ============================= */
/* OPTIMIZACION GPU */
/* ============================= */

.marquee-track,
.hero-content,
.scroll-indicator{

  backface-visibility:hidden;
  transform:translateZ(0);

}


/* ============================= */
/* HERO END */
/* ============================= */



/* About start */

.about-tip{
opacity:0;
transform:translateY(10px);
}

.about-visible .tip-0{
animation:aboutTipFade 0.4s ease forwards;
animation-delay:0.2s;
}

.about-visible .tip-1{
animation:aboutTipFade 0.4s ease forwards;
animation-delay:0.4s;
}

.about-visible .tip-2{
animation:aboutTipFade 0.4s ease forwards;
animation-delay:0.6s;
}

@keyframes aboutTipFade{
to{
opacity:1;
transform:translateY(0);
}
}

/* About end */

/* Services start */

.service-item{
opacity:0;
}

.service-left{
transform:translateX(-80px) translateY(50px);
}

.service-right{
transform:translateX(80px) translateY(50px);
}

.service-visible{
opacity:1;
transform:translateX(0) translateY(0);
transition:all 0.8s ease;
}

/* Services end */